.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}