.form-input {
    width: 300px;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    background-color: #2A2B2E;
    border: none;
    color: #FDFFFF;
}

.form-input:focus-visible {
    outline: none;
    box-shadow: 0 0 10px #7C55D4, 0 0 20px #7C55D4, 0 0 30px #7C55D4; /* Multiple box shadows for the glow effect */
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}
@keyframes neonGlow {
    from {
      box-shadow: 0 0 10px #7C55D4, 0 0 20px #7C55D4, 0 0 30px #7C55D4; /* Start with glow effect */
    }
    to {
      box-shadow: 0 0 20px #7C55D4, 0 0 40px #7C55D4, 0 0 60px #7C55D4; /* End with a more intense glow effect */
    }
  }