.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.signup-link a {
    margin-top: 5px;
    font-size: 20px;
    color: #FDFFFF;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
}