.card-body {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #1B1D26;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.7;
}