.layout {
  background: linear-gradient(to bottom right, #B28B87,#5B5775, #806296, #2F213A);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
    shape-outside: circle(50% at 50% 50%);
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    float: left; /* This ensures the text wraps around the shape */
    margin: 20px; /* Add some margin for better visibility */
}

h1 {
  color: #7C55D4;
  display: block;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
}

