.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.signup-link {
    margin-top: 10px;
    color: #FDFFFF;

}